/* Global Properties */
 html {
  scroll-behavior: smooth;
}


body {
    background: #313552;
    font-family: "Baloo Tamma 2", cursive;
    
  }

  /* Main Heading Font */
  .m-heading {
    font-family: "Roboto Slab", serif;
  }

  .navigation-link {
      flex: 1;
      text-align: right;
      border: 2px solid transparent;
      list-style: none;
      display: inline-block;
      padding: 8px 12px;
      position: relative;
  }

.navigation-link {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

  .navigation-link:hover {
      text-decoration: none;
      border-bottom: 2px solid rgb(123, 238, 15);
      transition: 0.5s ease;
  }

  .main-container{
      min-height: 100vh;
  }

  .main_row {
      display: flex;
      justify-content: center;
      align-items: center;
  }
 
main_row h1 {
      font-size: 10vw;
      color: #252839;
      
  } 

  .main_row img {
      width: auto;
      height: 80vh;
  } 

  #About {
      background: rgb(112, 129, 226);
      border-radius: 0.5rem;
  }
.skills .content{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: #fff;
	margin-top: 20px;
  }
  
  .skills .content .col-left{
	position: relative;
	width: 46%;
  }
  
  .skills .content .col-left .content-title{
	margin-bottom: 20px;
  }
  
  .skills .content .col-right{
	position: relative;
	width: 46%;
  }
  
  .skills .content .col-right .bar{
	margin-bottom: 15px;
	padding: 10px;
  }
  
  .skills .content .col-right .bar .info{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 5px;
  }
  
  .skills .content .col-right .bar .info span{
	font-size: 18px;
	font-weight: 500;
  }
  
  .skills .content .col-right .bar .line{
	position: relative;
	width: 100%;
	height: 15px;
	background: #ccc;
	border-radius: 2px;
  }
  
  .skills .content .col-right .bar .line:before{
	content: '';
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 2px;
  }
  
  .skills .content .col-right .bar .html:before{
	width: 80%;
	background: #e45126;
  }
  
  .skills .content .col-right .bar .css:before{
	width: 75%;
	background: #0c73b8;
  }
  
  .skills .content .col-right .bar .javascript:before{
	width: 70%;
	background: #e3a324;
  }
  
  .skills .content .col-right .bar .jquery:before{
	width: 80%;
	background: #30dd6d;
  }
  
  .skills .content .col-right .bar .php:before{
	width: 50%;
	background: #eb2b94
  }
    
  .card{
      border-bottom: 8px solid #f5ba09;
      box-sizing: border-box;
  }


  .Social Media {
      background: rgb(112, 129, 226);
      border-radius: 0.5rem;
  }


  .media_link {

      padding: 1rem;
      max-width: 14rem;
      margin-left: 1rem;
      border: 2px solid #f5ba09;
      border-radius: 0.5rem;
  }

 .contact-wrap {
	width: 95%;
	height: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

.contact-in {
	padding: 40px 30px;
}

.contact-in:nth-child(1) {
	flex: 25%;
	background: url(./img/1.jpg);
	color: #fff;
    padding-left: 4%;
}

.contact-in:nth-child(2) {
	flex: 45%;
	background: #c31432;
}

.contact-in:nth-child(3) {
	flex: 25%;
	padding: 0;
}

.contact-in h1 {
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 20px;
}

.contact-in h2 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 15px;
}

.contact-in h2 i {
	font-size: 16px;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	background: #f5f5f5;
	color: #000;
	border-radius: 50px;
	line-height: 40px;
	text-align: center;
}

.contact-in p {
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 20px;
}

.contact-in ul {
	padding: 0;
	margin: 0;
}

.contact-in ul li {
	list-style: none;
	display: inline-block;
	margin-right: 5px;
	margin-top: 5px;
}

.contact-in ul li a {
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	background: #fff;
	border-radius: 50px;
}

.contact-in ul li a i {
	font-size: 14px;
	line-height: 30px;
	color: #000;
}

.contact-in form {
	width: 100%;
	height: auto;
}

.contact-in-input {
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	outline: none;
	padding-left: 5px;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}

.contact-in-input::placeholder {
	color: #fff;
}

.contact-in-textarea {
	width: 100%;
	height: 140px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	outline: none;
	padding-top: 5px;
	padding-left: 5px;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}

.contact-in-textarea::placeholder {
	color: #fff;
}

contact-in-btn {
    background: #ff5722;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

.contact-in-btn:hover
{
    background-color: #06ee25;
    cursor: pointer;
}


.contact-in iframe {
	width: 140%;
	height: 100%;

}

@media only screen and (max-width:480px) {
	.contact-in:nth-child(1) {
		flex: 50%;
	}

	.contact-in:nth-child(2) {
		flex: 50%;
	}

	.contact-in:nth-child(3) {
		flex: 100%;
	}

}

@media only screen and (max-width:360px) {
	.contact-in:nth-child(1) {
		flex: 50%;
	}

	.contact-in:nth-child(2) {
		flex: 50%;
	}

	.contact-in:nth-child(3) {
		flex: 100%;
	}

}

